# Source files should not be normalized to avoid confusing clang-format-diff.py
*.c text eol=lf
*.cc text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.dart text eol=lf

# Explicitly declare text files we want to be normalized.
*.gyp text
*.gypi text
*.mk text
*.Makefile text
*.md text
*.yaml text

*.Makefile linguist-detectable=false